> seq_0
AGTAA---ATCGCTATATATGC-TATATCGCGC---ATATATCGCT-ATCTCTCT
> seq_1
G--AAAAAATCGCTAGA---GCCTATA----CCTATATATATCGCTTATCTTCTT
> seq_2
GAAAAAAAATCGCTAGAA--GCCTATATTTTCCTATATATATCGCTTATCTCTCT
> seq_3
TGTAAATATATATATATTTTTCTCTAG-----------------ATT-CTCCTCT 
> seq_4
TGTAAATATATATATATTTTTCTCTAG-----------------ATT-CTCCTCT 
